<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Informaci贸n</title>
    <link rel="stylesheet" href="../styles.css">

</head>
<body>
    <h1>Lista de Informaci贸n</h1>

    <% if (info && info.length > 0) { %>
        <ul>
            <% info.forEach(item => { %>
                <li><%= item.texto %></li>
            <% }); %>
        </ul>
    <% } else { %>
        <p>No hay informaci贸n disponible.</p>
    <% } %>

    <a href="/add">Agregar Informaci贸n</a>
</body>
</html>

